/* PC */
@media (min-width: 64em) {
    
}

/* Tablet */
@media (min-width: 63.9375em) and (max-width:46.25em) {


}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-fullWidth{
        width: 100%;
    }
    .s-mt16 {
        margin-top: 16px;
    }

    .s-mt8 {
        margin-top: 8px;
    }
    .s-colFull {
        width: 100%;
    }

    #nav > li {
        display: block;
    }

    #nav {
        display: block;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
    }

    
    
}